.header{
    min-height:100vh;
    background-image: url('../../public/images/hero.jpeg');
    background-position: 10% center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #141836;
}

.header:before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(69.18% 728.24% at 50% 50%, #2b1076a1 0%, #0D1832 100%);
}

.nav{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 80px;
    position: relative;
    z-index: 2;
    justify-content:space-between;
}

.burger{
    display: none;
}

.menu{
    display: none;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

.buttons a {
    padding: 5px 20px;
    border-radius: 4px;
    display: inline-block;
    transition: background .3s ease-in;

}

.link:hover{
    background-color: rgba(255,255,255, .5);
}

.button{
    background-color:#ED6E27;
}

.button:hover{
    background-color:#d36325;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 50px 0;
}

.card{
    width: 550px;
    background-color: white;
    border-radius: 16px;
    padding: 60px 25px;
    color: #4B494F;
}

.title{
    font-size: 24px;
    font-family: var(--druk-font);
    margin-bottom: 20px;
    color: #5B27ED;
}

.planningText{
    font-size: 18px;
    font-family: var(--roboto-font);
    margin-bottom: 10px;
}

.resultsText{
    font-size: 24px;
    font-family: var(--roboto-font);
}

.progress {
    background-color: #f5f5f5;
    display: inline-block;
    width: 100%;
    height: 1.4rem;
    border-radius: 0.4rem;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.progress::before {
    content: "";
    display: block;
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #ED6E27;
    border-radius: inherit;
    left: 1rem;
}

.fields{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.field{
    flex: 1;
    width: 50%;
}

.field label{
    display: inline-block;
    font-family: var(--roboto-font);
    font-size: 16px;
    margin-bottom: 10px;
}

.cardbuttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cardbuttons button {
    width: 50%;
    background: none;
    background-color: #5B27ED;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: var(--roboto-font);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.cardbuttons button:hover {
    background-color: #5327d1;
 }

button.secondButton{
    border: 2px solid #5B27ED;
    background: transparent;
    color: #5B27ED;
}

button.secondButton:hover{
    border: 2px solid #5327d1;
    background: transparent;
    color: #5327d1;
}

@media screen and (max-width: 700px)  {
    .header{
        background-image: none;
    }

    .header::before{
       background: none;
    }

   .nav {
       padding-left: 40px;
       padding-right: 40px;
       background-color: #141836;
   }

   .buttons{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    top: 0;
    left: 0;
    flex-direction: column;
    transform: translateY(-100%);
    transition: all .2s ease-in-out;
    opacity: 0;
   }

   .buttons a {
       min-width: 150px;
       text-align: center;
       opacity: 0;
   }

   .buttons.showMenu > a {
    opacity: 1;
    transition-delay: .3s;
    transition: all .8s ease-in-out;
    overflow: hidden;
   }

   .card{
       width: 100%;
   }

   .burger{
       display: flex;
       width: 25px;
       height: 25px;
       position: relative;
       z-index: 1001;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;

   }

   .burger span {
       display: block;
       width: 100%;
       height: 2px;
       background: white;
       transition: all .3s ease-in-out;
   }

   .burger.close {
       position: fixed;
       right: 40px;
   }

   .burger.close span {
    background: #141836;
 
   }

   .burger.close span:nth-child(1){
    transform: rotate(405deg) translate3d(5px, 5px,0);
   }

   .burger.close span:nth-child(2){
    opacity: 0;
    }

.burger.close span:nth-child(3){
    transform: rotate(-405deg) translate3d(5px, -5px,0);
    }

   .link{
    border:1px solid #ED6E27;
    color: #ED6E27;
}

   .link:hover{
    border:1px solid #d36325;
    color: #d36325;;
}


   .showMenu{
    transform: translateY(0);
    transition: all .3s ease-in-out;
    opacity: 1;
   }

   .fields{
       flex-direction: column;
       gap: 20px;
   }


   .field{
       width: 100%;
   }

   .cardbuttons{
       flex-direction: column;
   }

   .cardbuttons button {
       width: 100%;
   }
}
