.tableContainer{
    width: 100%;
    overflow-x: auto;
    margin-bottom: 24px;
    min-height: 640px;
}

.table{
    border-collapse: collapse;
    min-width: 720px;
    width: 100%;
}

.table tbody tr td,
.table thead tr th{
    border-bottom: 0.0625rem solid rgb(240, 242, 245);
    padding: 12px 4px;
    text-align: left;
}

.actions{
    display: flex;
    gap: 10px;
}

.pagination{
    display: flex;
    justify-content: flex-end;
    min-height: 32px;
}