
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html, body, #__next {
      height: 100%;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  .box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  }

  .mb20 {
    margin-bottom: 20px;
  }

  .searchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 0.0625rem solid rgb(240, 242, 245);
    padding-bottom: 30px;
}

.searchBar .input {
    width: 400px;
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}